services:
  attack:
    hostname: attack.lab
    build:
      context: .
      dockerfile: build/kalilinux.Dockerfile
    image: 'csalab/csaf:kalilinux'
    restart: always
    profiles:
      - all
      - attackdefenselab
      - phishinglab
      - breachlab
      - soclab
    ports:
      - ${BIND_ADDR:-0.0.0.0}:6080:8080
    environment:
      - SHELL=/bin/bash
      - VNC_PASSWORD=${ATTACK_PASS:-attackpassword}
    networks:
      attack:
        ipv4_address: 10.0.0.100
      internal:
        ipv4_address: 10.0.5.100

  phishing:
    hostname: phishing.lab
    image: 'csalab/csaf:phishing'
    build:
      context: .
      dockerfile: build/phishing.Dockerfile
    restart: always
    profiles:
      - all
      - phishinglab
    environment:
      - WEBSITE=${PHISHING_URL:-https://gmail.com/}
      - TITLE=${PHISHING_TITLE:-Gmail}
      - FAVICON=${PHISHING_FAVICON:-https://www.google.com/favicon.ico}
    networks:
      attack:
        ipv4_address: 10.0.0.200

  server.lab:
    hostname: mail.server.lab
    image: 'csalab/csaf:iredmail'
    build:
      context: .
      dockerfile: build/iredmail.Dockerfile
    restart: always
    profiles:
      - all
      - phishinglab
    environment:
      - HOSTNAME=mail.server.lab
      - FIRST_MAIL_DOMAIN=server.lab
      - FIRST_MAIL_DOMAIN_ADMIN_PASSWORD=${MAIL_PASS:-mailpassword}
      - MLMMJADMIN_API_TOKEN=CCmMymMpFH35K8Q0H3FQAsSRQzkSjCeazm+t1X27cdE=
      - ROUNDCUBE_DES_KEY=s9lVEEaiA+MmvYZvfi1k0WQNFiFmGOYI
    volumes:
      - iredmail_backup-mysql:/var/vmail/backup/mysql
      - iredmail_mailboxes:/var/vmail/vmail1
      - iredmail_mlmmj:/var/vmail/mlmmj
      - iredmail_mlmmj_archive:/var/vmail/mlmmj-archive
      - iredmail_imapsieve_copy:/var/vmail/imapsieve_copy
      - iredmail_custom:/opt/iredmail/custom
      - iredmail_ssl:/opt/iredmail/ssl
      - iredmail_mysql:/var/lib/mysql
      - iredmail_clamav:/var/lib/clamav
      - iredmail_sa_rules:/var/lib/spamassassin
      - iredmail_postfix_queue:/var/spool/postfix
    networks:
      attack:
        ipv4_address: 10.0.0.201
      defense:
        ipv4_address: 10.0.1.201
      monitor:
        ipv4_address: 10.0.3.201

  gophish:
    image: 'csalab/csaf:gophish'
    hostname: gophish.lab
    build:
      context: .
      dockerfile: build/gophish.Dockerfile
    restart: always
    profiles:
      - all
      - phishinglab
    environment:
      - GOPHISH_INITIAL_ADMIN_PASSWORD=${GOPHISH_PASS:-gophishpassword}
    volumes:
      - ./config/gophish/config.json:/opt/gophish/config.json
    networks:
      attack:
        ipv4_address: 10.0.0.202

  defense:
    hostname: defense.lab
    build:
      context: .
      dockerfile: build/kalilinux.Dockerfile
    image: 'csalab/csaf:kalilinux'
    restart: always
    profiles:
      - all
      - attackdefenselab
      - breachlab
    ports:
      - ${BIND_ADDR:-0.0.0.0}:7080:8080
    environment:
      - SHELL=/bin/bash
      - VNC_PASSWORD=${DEFENSE_PASS:-defensepassword}
    networks:
      defense:
        ipv4_address: 10.0.1.101
      public:
        ipv4_address: 10.0.2.101

  mariadb:
    image: 'csalab/csaf:mariadb'
    build:
      context: .
      dockerfile: build/mariadb.Dockerfile
    hostname: mariadb.lab
    restart: always
    profiles:
      - all
      - attackdefenselab
      - soclab
    environment:
      - MARIADB_DATABASE=dvwa
      - MARIADB_USER=dvwa
      - MARIADB_PASSWORD=dvwa
      - MARIADB_ROOT_PASSWORD=mariadbpassword
    volumes:
      - dvwa_mariadb:/var/lib/mysql
    networks:
      monitor:
        ipv4_address: 10.0.3.9

  dvwa:
    image: 'csalab/csaf:dvwa'
    hostname: dvwa.lab
    build:
      context: .
      dockerfile: build/dvwa.Dockerfile
    restart: always
    profiles:
      - all
      - attackdefenselab
      - breachlab
      - soclab
    volumes:
      - dvwa_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      defense:
        ipv4_address: 10.0.1.10
      monitor:
        ipv4_address: 10.0.3.10

  dvwa_monitor:
    image: 'csalab/csaf:dvwa-secure'
    hostname: dvwa-monitor.lab
    build:
      context: .
      dockerfile: build/secure-dvwa.Dockerfile
    restart: always
    profiles:
      - all
      - attackdefenselab
      - soclab
    tmpfs:
      - /tmp:noexec,nosuid,nodev
      - /var/tmp:noexec,nosuid,nodev
      - /var/log/audit:noexec,nosuid,nodev
    volumes:
      - dvwa_monitor_data:/var/www/html
    depends_on:
      - mariadb
    networks:
      monitor:
        ipv4_address: 10.0.3.11

  dvwa_modsecurity:
    image: 'csalab/csaf:modsecurity'
    hostname: dvwa-modsecurity.lab
    build:
      context: .
      dockerfile: build/modsecurity.Dockerfile
    restart: always
    healthcheck:
      disable: true
    profiles:
      - all
      - attackdefenselab
      - soclab
    environment:
      - BACKEND=http://10.0.3.11:80
    depends_on:
      - dvwa_monitor
    networks:
      internal:
        ipv4_address: 10.0.5.12
      monitor:
        ipv4_address: 10.0.3.12

  wackopicko:
    image: 'csalab/csaf:wackopicko'
    hostname: wackopicko.lab
    build:
      context: .
      dockerfile: build/wackopicko.Dockerfile
    restart: always
    profiles:
      - all
      - attackdefenselab
      - breachlab
      - soclab
    volumes:
      - wackopicko_web:/app
      - wackopicko_mysql:/var/lib/mysql
      - wackopicko_etc:/etc/mysql
    networks:
      defense:
        ipv4_address: 10.0.1.13
      internal:
        ipv4_address: 10.0.5.13
      public:
        ipv4_address: 10.0.2.13

  juiceshop:
    image: 'csalab/csaf:juiceshop'
    hostname: juiceshop.lab
    build:
      context: .
      dockerfile: build/juiceshop.Dockerfile
    restart: always
    profiles:
      - all
      - attackdefenselab
      - soclab
    environment:
      - PORT=80
    networks:
      defense:
        ipv4_address: 10.0.1.14

  gitea:
    image: 'csalab/csaf:gitea'
    build:
      context: .
      dockerfile: build/gitea.Dockerfile
    hostname: gitea.lab
    restart: always
    profiles:
      - all
      - attackdefenselab
    volumes:
      - gitea_data:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      defense:
        ipv4_address: 10.0.1.20

  openappsec:
    hostname: openappsec.lab
    image: 'csalab/csaf:openappsec'
    build:
      context: .
      dockerfile: build/openappsec.Dockerfile
    ipc: host
    restart: always
    profiles:
      - all
      - attackdefenselab
      - soclab
    volumes:
      - npm-data:/data
      - appsec-logs:/ext/appsec-logs
      - appsec-localconfig:/ext/appsec
      - appsec-letsencrypt:/etc/letsencrypt
    networks:
      internal:
        ipv4_address: 10.0.5.21
        aliases:
          - dvwa-openappsec.lab
          - juiceshop-openappsec.lab
          - wackopicko-openappsec.lab
      defense:
        ipv4_address: 10.0.1.21
        aliases:
          - dvwa-openappsec.lab
          - juiceshop-openappsec.lab
          - wackopicko-openappsec.lab
      monitor:
        ipv4_address: 10.0.3.21
        aliases:
          - dvwa-openappsec.lab
          - juiceshop-openappsec.lab
          - wackopicko-openappsec.lab

  openappsec-agent:
    image: 'csalab/csaf:openappsec-agent'
    build:
      context: .
      dockerfile: build/openappsec-agent.Dockerfile
    ipc: host
    network_mode: service:openappsec
    restart: always
    profiles:
      - all
      - attackdefenselab
      - soclab
    environment:
      - user_email=admin@csalab.id
      - nginxproxymanager=true
      - autoPolicyLoad=true
    volumes:
      - ./hosts:/etc/hosts
      - appsec-config:/etc/cp/conf
      - appsec-data:/etc/cp/data
      - appsec-logs:/var/log/nano_agent
      - appsec-localconfig:/ext/appsec
    command: /cp-nano-agent --standalone

  bunkerweb:
    image: 'csalab/csaf:bunkerweb'
    build:
      context: .
      dockerfile: build/bunkerweb.Dockerfile
    hostname: bunkerweb.lab
    restart: always
    healthcheck:
      disable: true
    profiles:
      - all
      - attackdefenselab
      - soclab
    volumes:
      - bunkerweb:/data
    env_file:
      - config/bunkerweb/variables.env
    depends_on:
      - dvwa_monitor
      - juiceshop
      - wackopicko
    networks:
      internal:
        ipv4_address: 10.0.5.22
        aliases:
          - dvwa-bunkerweb.lab
          - juiceshop-bunkerweb.lab
          - wackopicko-bunkerweb.lab
      defense:
        ipv4_address: 10.0.1.22
        aliases:
          - dvwa-bunkerweb.lab
          - juiceshop-bunkerweb.lab
          - wackopicko-bunkerweb.lab
      monitor:
        ipv4_address: 10.0.3.22
        aliases:
          - dvwa-bunkerweb.lab
          - juiceshop-bunkerweb.lab
          - wackopicko-bunkerweb.lab

  monitor:
    hostname: monitor.lab
    build:
      context: .
      dockerfile: build/kalilinux.Dockerfile
    image: 'csalab/csaf:kalilinux'
    restart: always
    profiles:
      - all
      - soclab
    ports:
      - ${BIND_ADDR:-0.0.0.0}:8080:8080
    environment:
      - SHELL=/bin/bash
      - VNC_PASSWORD=${MONITOR_PASS:-monitorpassword}
    networks:
      monitor:
        ipv4_address: 10.0.3.102
      internet:
        ipv4_address: 10.0.4.102

  wazuh_manager:
    image: 'csalab/csaf:wazuh-manager'
    build:
      context: .
      dockerfile: build/wazuh-manager.Dockerfile
    hostname: wazuh-manager.lab
    restart: always
    profiles:
      - all
      - soclab
    environment:
      - INDEXER_URL=https://wazuh-indexer.lab:9200
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword
      - FILEBEAT_SSL_VERIFICATION_MODE=full
      - SSL_CERTIFICATE_AUTHORITIES=/etc/ssl/root-ca.pem
      - SSL_CERTIFICATE=/etc/ssl/filebeat.pem
      - SSL_KEY=/etc/ssl/filebeat.key
      - API_USERNAME=wazuh-wui
      - API_PASSWORD=MyS3cr37P450r.*-
    volumes:
      - wazuh_api_configuration:/var/ossec/api/configuration
      - wazuh_etc:/var/ossec/etc
      - wazuh_logs:/var/ossec/logs
      - wazuh_queue:/var/ossec/queue
      - wazuh_var_multigroups:/var/ossec/var/multigroups
      - wazuh_integrations:/var/ossec/integrations
      - wazuh_active_response:/var/ossec/active-response/bin
      - wazuh_agentless:/var/ossec/agentless
      - wazuh_wodles:/var/ossec/wodles
      - filebeat_etc:/etc/filebeat
      - filebeat_var:/var/lib/filebeat
      - ./config/wazuh_indexer_ssl_certs/root-ca-manager.pem:/etc/ssl/root-ca.pem
      - ./config/wazuh_indexer_ssl_certs/wazuh-manager.lab.pem:/etc/ssl/filebeat.pem
      - ./config/wazuh_indexer_ssl_certs/wazuh-manager.lab-key.pem:/etc/ssl/filebeat.key
      - ./config/wazuh_cluster/wazuh_manager.conf:/wazuh-config-mount/etc/ossec.conf
      - ./config/wazuh_cluster/local_rules.xml:/wazuh-config-mount/etc/rules/local_rules.xml
    depends_on:
      - dvwa
      - dvwa_monitor
    networks:
      monitor:
        ipv4_address: 10.0.3.30
      internet:
        ipv4_address: 10.0.4.30

  wazuh_indexer:
    image: 'csalab/csaf:wazuh-indexer'
    build:
      context: .
      dockerfile: build/wazuh-indexer.Dockerfile
    hostname: wazuh-indexer.lab
    restart: always
    profiles:
      - all
      - soclab
    environment:
      - "OPENSEARCH_JAVA_OPTS=-Xms1g -Xmx1g"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - wazuh-indexer-data:/var/lib/wazuh-indexer
      - ./config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-indexer/certs/root-ca.pem
      - ./config/wazuh_indexer_ssl_certs/wazuh-indexer.lab-key.pem:/usr/share/wazuh-indexer/certs/wazuh-indexer.lab.key
      - ./config/wazuh_indexer_ssl_certs/wazuh-indexer.lab.pem:/usr/share/wazuh-indexer/certs/wazuh-indexer.lab.pem
      - ./config/wazuh_indexer_ssl_certs/admin.pem:/usr/share/wazuh-indexer/certs/admin.pem
      - ./config/wazuh_indexer_ssl_certs/admin-key.pem:/usr/share/wazuh-indexer/certs/admin-key.pem
      - ./config/wazuh_indexer/wazuh.indexer.yml:/usr/share/wazuh-indexer/opensearch.yml
      - ./config/wazuh_indexer/internal_users.yml:/usr/share/wazuh-indexer/opensearch-security/internal_users.yml
    networks:
      monitor:
        ipv4_address: 10.0.3.31

  wazuh_dashboard:
    image: 'csalab/csaf:wazuh-dashboard'
    build:
      context: .
      dockerfile: build/wazuh-dashboard.Dockerfile
    hostname: wazuh-dashboard.lab
    restart: always
    profiles:
      - all
      - soclab
    environment:
      - INDEXER_USERNAME=admin
      - INDEXER_PASSWORD=SecretPassword
      - WAZUH_API_URL=https://wazuh-manager.lab
      - API_USERNAME=wazuh-wui
      - API_PASSWORD=MyS3cr37P450r.*-
    volumes:
      - ./config/wazuh_indexer_ssl_certs/wazuh-dashboard.lab.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard.pem
      - ./config/wazuh_indexer_ssl_certs/wazuh-dashboard.lab-key.pem:/usr/share/wazuh-dashboard/certs/wazuh-dashboard-key.pem
      - ./config/wazuh_indexer_ssl_certs/root-ca.pem:/usr/share/wazuh-dashboard/certs/root-ca.pem
      - ./config/wazuh_dashboard/opensearch_dashboards.yml:/usr/share/wazuh-dashboard/config/opensearch_dashboards.yml
      - ./config/wazuh_dashboard/wazuh.yml:/usr/share/wazuh-dashboard/data/wazuh/config/wazuh.yml
    depends_on:
      - wazuh_indexer
      - wazuh_manager
    networks:
      monitor:
        ipv4_address: 10.0.3.32
      internet:
        ipv4_address: 10.0.4.32

  splunk:
    hostname: splunk.lab
    image: 'csalab/csaf:splunk'
    build:
      context: .
      dockerfile: build/splunk.Dockerfile
    restart: always
    healthcheck:
      disable: true
    profiles:
      - all
      - soclab
    environment:
      - SPLUNK_GENERAL_TERMS=--accept-sgt-current-at-splunk-com
      - SPLUNK_START_ARGS=--accept-license
      - SPLUNK_PASSWORD=${SPLUNK_PASS:-splunkpassword}
    volumes:
      - ./config/splunk/web.conf:/opt/splunk/etc/system/local/web.conf
      - splunk_etc:/opt/splunk/etc
      - splunk_var:/opt/splunk/var
    depends_on:
      - dvwa
      - dvwa_monitor
    networks:
      monitor:
        ipv4_address: 10.0.3.40
      internet:
        ipv4_address: 10.0.4.40

  velociraptor:
    hostname: velociraptor.lab
    image: 'csalab/csaf:velociraptor'
    build:
      context: .
      dockerfile: build/velociraptor.Dockerfile
    restart: always
    profiles:
      - all
      - soclab
    environment:
      - VELOX_USER=admin
      - VELOX_PASSWORD=${VELOX_PASS:-veloxpassword}
      - VELOX_ROLE=administrator
      - VELOX_SERVER_URL=http://velociraptor.lab:8000/
      - VELOX_FRONTEND_HOSTNAME=velociraptor.lab
    volumes:
      - ./config/velociraptor/server.config.yaml:/velociraptor/server.config.yaml
      - velociraptor:/velociraptor
    networks:
      monitor:
        ipv4_address: 10.0.3.41
      internet:
        ipv4_address: 10.0.4.41

  infectionmonkey:
    hostname: infectionmonkey.lab
    build:
      context: .
      dockerfile: build/infectionmonkey.Dockerfile
    image: 'csalab/csaf:infectionmonkey'
    restart: always
    profiles:
      - all
      - breachlab
    volumes:
      - infectionmonkey:/opt/infectionmonkey
    depends_on:
      - mongodb
    networks:
      attack:
        ipv4_address: 10.0.0.110
      defense:
        ipv4_address: 10.0.1.110

  mongodb:
    image: 'csalab/csaf:mongodb'
    build:
      context: .
      dockerfile: build/mongodb.Dockerfile
    hostname: mongodb.lab
    restart: always
    profiles:
      - all
      - breachlab
    volumes:
      - mongodb_db:/data/db
      - mongodb_configdb:/data/configdb
    networks:
      attack:
        ipv4_address: 10.0.0.111

  caldera:
    hostname: caldera.lab
    build:
      context: .
      dockerfile: build/caldera.Dockerfile
    image: 'csalab/csaf:caldera'
    restart: always
    profiles:
      - all
      - breachlab
    volumes:
      - ./config/caldera/local.yml:/usr/src/app/conf/local.yml
      - caldera:/usr/src/app
    networks:
      attack:
        ipv4_address: 10.0.0.113
      defense:
        ipv4_address: 10.0.1.113

networks:
  attack:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/24
          gateway: 10.0.0.1

  defense:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 10.0.1.0/24
          gateway: 10.0.1.1

  public:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.2.0/24
          gateway: 10.0.2.1

  monitor:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 10.0.3.0/24
          gateway: 10.0.3.1

  internet:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.4.0/24
          gateway: 10.0.4.1

  internal:
    driver: bridge
    internal: true
    ipam:
      config:
        - subnet: 10.0.5.0/24
          gateway: 10.0.5.1

volumes:
  filebeat_etc: {}
  filebeat_var: {}
  wazuh_api_configuration: {}
  wazuh_etc: {}
  wazuh_logs: {}
  wazuh_queue: {}
  wazuh_var_multigroups: {}
  wazuh_integrations: {}
  wazuh_active_response: {}
  wazuh_agentless: {}
  wazuh_wodles: {}
  wazuh-indexer-data: {}
  iredmail_backup-mysql: {}
  iredmail_mailboxes: {}
  iredmail_mlmmj: {}
  iredmail_mlmmj_archive: {}
  iredmail_imapsieve_copy: {}
  iredmail_custom: {}
  iredmail_ssl: {}
  iredmail_mysql: {}
  iredmail_clamav: {}
  iredmail_sa_rules: {}
  iredmail_postfix_queue: {}
  splunk_etc: {}
  splunk_var: {}
  gitea_data: {}
  dvwa_data: {}
  dvwa_monitor_data: {}
  dvwa_mariadb: {}
  wackopicko_web: {}
  wackopicko_mysql: {}
  wackopicko_etc: {}
  infectionmonkey: {}
  mongodb_db: {}
  mongodb_configdb: {}
  caldera: {}
  npm-data: {}
  appsec-config: {}
  appsec-data: {}
  appsec-logs: {}
  appsec-localconfig: {}
  appsec-letsencrypt: {}
  bunkerweb: {}
  velociraptor: {}
