version: 2.1

parameters:
  workflow:
    type: enum
    default: auto
    description: "The workflow to trigger."
    enum: [auto, all, dvwa, secure-dvwa, gitea, infectionmonkey, phishing, wackopicko, kali, caldera, modsecurity, juiceshop, gophish, openappsec, openappsec-agent, mariadb, mongodb, splunk]

executors:
  docker:
    docker:
      - image: docker:stable

jobs:
  hadolint:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Checking dvwa docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/dvwa.Dockerfile || true
      - run:
          name: "Checking secure-dvwa docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/secure-dvwa.Dockerfile || true
      - run:
          name: "Checking gitea docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/gitea.Dockerfile || true
      - run:
          name: "Checking infectionmonkey docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/infectionmonkey.Dockerfile || true
      - run:
          name: "Checking phishing docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/phishing.Dockerfile || true
      - run:
          name: "Checking wackopicko docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/wackopicko.Dockerfile || true
      - run:
          name: "Checking kalilinux docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/kalilinux.Dockerfile || true
      - run:
          name: "Checking caldera docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/caldera.Dockerfile || true
      - run:
          name: "Checking modsecurity docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/modsecurity.Dockerfile || true
      - run:
          name: "Checking gophish docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/gophish.Dockerfile || true
      - run:
          name: "Checking openappsec docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/openappsec.Dockerfile || true
      - run:
          name: "Checking openappsec-agent docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/openappsec-agent.Dockerfile || true
      - run:
          name: "Checking mariadb docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/mariadb.Dockerfile || true
      - run:
          name: "Checking mongodb docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/mongodb.Dockerfile || true
      - run:
          name: "Checking splunk docker file code quality"
          command: docker run --rm -i ghcr.io/hadolint/hadolint:latest < build/splunk.Dockerfile || true

  build-dvwa:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build dvwa image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:dvwa . -f build/dvwa.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:dvwa

  build-secure-dvwa:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build secure-dvwa image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:dvwa-secure . -f build/secure-dvwa.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:dvwa-secure

  build-gitea:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build gitea image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:gitea . -f build/gitea.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:gitea

  build-infectionmonkey:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build infection monkey image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:infectionmonkey . -f build/infectionmonkey.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:infectionmonkey

  build-phishing:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build phishing image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:phishing . -f build/phishing.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:phishing

  build-wackopicko:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build wackopicko image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:wackopicko . -f build/wackopicko.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:wackopicko

  build-kali:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build kali image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:kalilinux . -f build/kalilinux.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:kalilinux

  build-caldera:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build caldera image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:caldera . -f build/caldera.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:caldera

  build-modsecurity:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build modsecurity image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:modsecurity . -f build/modsecurity.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:modsecurity

  build-juiceshop:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build juiceshop image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:juiceshop . -f build/juiceshop.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:juiceshop

  build-gophish:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build gophish image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:gophish . -f build/gophish.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:gophish

  build-openappsec:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build openappsec image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:openappsec . -f build/openappsec.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:openappsec

  build-openappsec-agent:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build openappsec-agent image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:openappsec-agent . -f build/openappsec-agent.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:openappsec-agent

  build-mariadb:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build mariadb image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:mariadb . -f build/mariadb.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:mariadb

  build-mongodb:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build mongodb image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:mongodb . -f build/mongodb.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:mongodb

  build-splunk:
    executor: docker
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Build splunk image"
          command: |
            echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin $DOCKER_REGISTRY
            docker build -t $DOCKER_REGISTRY/$REGISTRY_USER/csaf:splunk . -f build/splunk.Dockerfile
            docker push $DOCKER_REGISTRY/$REGISTRY_USER/csaf:splunk

workflows:
  build-image-auto:
    when: 
      equal: [auto, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint

  build-image-all:
    when: 
      equal: [all, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-dvwa:
          requires:
            - hadolint
      - build-secure-dvwa:
          requires:
            - hadolint
      - build-gitea:
          requires:
            - hadolint
      - build-infectionmonkey:
          requires:
            - hadolint
      - build-phishing:
          requires:
            - hadolint
      - build-wackopicko:
          requires:
            - hadolint
      - build-kali:
          requires:
            - hadolint
      - build-caldera:
          requires:
            - hadolint
      - build-modsecurity:
          requires:
            - hadolint
      - build-juiceshop:
          requires:
            - hadolint
      - build-gophish:
          requires:
            - hadolint
      - build-openappsec:
          requires:
            - hadolint
      - build-openappsec-agent:
          requires:
            - hadolint
      - build-mariadb:
          requires:
            - hadolint
      - build-mongodb:
          requires:
            - hadolint
      - build-splunk:
          requires:
            - hadolint

  build-dvwa:
    when: 
      equal: [dvwa, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-dvwa:
          requires:
            - hadolint

  build-secure-dvwa:
    when: 
      equal: [secure-dvwa, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-secure-dvwa:
          requires:
            - hadolint

  build-gitea:
    when: 
      equal: [gitea, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-gitea:
          requires:
            - hadolint

  build-infectionmonkey:
    when: 
      equal: [infectionmonkey, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-infectionmonkey:
          requires:
            - hadolint

  build-phishing:
    when: 
      equal: [phishing, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-phishing:
          requires:
            - hadolint

  build-wackopicko:
    when: 
      equal: [wackopicko, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-wackopicko:
          requires:
            - hadolint

  build-kali:
    when: 
      equal: [kali, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-kali:
          requires:
            - hadolint

  build-caldera:
    when: 
      equal: [caldera, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-caldera:
          requires:
            - hadolint

  build-modsecurity:
    when: 
      equal: [modsecurity, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-modsecurity:
          requires:
            - hadolint

  build-juiceshop:
    when: 
      equal: [juiceshop, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-juiceshop:
          requires:
            - hadolint

  build-gophish:
    when: 
      equal: [gophish, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-gophish:
          requires:
            - hadolint

  build-openappsec:
    when: 
      equal: [openappsec, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-openappsec:
          requires:
            - hadolint

  build-openappsec-agent:
    when: 
      equal: [openappsec-agent, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-openappsec-agent:
          requires:
            - hadolint

  build-mariadb:
    when: 
      equal: [mariadb, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-mariadb:
          requires:
            - hadolint

  build-mongodb:
    when: 
      equal: [mongodb, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-mongodb:
          requires:
            - hadolint

  build-splunk:
    when: 
      equal: [splunk, << pipeline.parameters.workflow >>]
    jobs:
      - hadolint
      - build-splunk:
          requires:
            - hadolint

  build-kali-weekly:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - main
    jobs:
      - hadolint
      - build-kali:
          requires:
            - hadolint